* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  margin-top: 20px;
  max-width: 800px;
}

.app h2 {
  text-align: center;
}

.app hr {
  margin: 1em 0;
}

.main {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.main ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  padding: 0.3em;
  border-radius: 5px;
}

.team-list li {
  display: grid;
  grid-template-columns: 7fr 2fr 2.5fr auto auto;
  grid-column-gap: 0.5rem;
  padding: 0.5em 1em;
}

.team-list li:hover {
  background-color: bisque;
}

.list-button {
  background-color: bisque;
}

.list-button:hover {
  background-color: #ffb356;
}

.button-panel {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff2e2;
  border-radius: 5px;
  margin-top: 10px;
}

.button {
  background-color: #ffb356;
}

.button:hover {
  background-color: #ff9100;
}

form {
  padding: 0.5em;
  margin-top: 10px;
  border-radius: 5px;
  background-color: bisque;
  text-align: center;
}

form h4 {
  text-align: center;
  margin-bottom: 10px;
}

.new-item {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5em;
  margin-bottom: 10px;
}

.edit-item {
  text-align: center;
  gap: 1em;
  margin-bottom: 10px;
}
